/* Ensure HTML and Body take up the full height of the screen */
html, body {
  height: 100%; /* Ensure full screen height */
  margin: 0;    /* Remove default margin */
  overflow-x: hidden; /* Disable horizontal scrolling */
}

/* Make sure root takes full height and allows scrolling if necessary */
#root {
  height: 100%; /* Make root div take full screen height */
  background: #F7F6F4;
  overflow-y: auto; /* Enable vertical scroll if content overflows */
  display: flex; /* Flexbox to center content if needed */
  flex-direction: column;
  padding: 2rem;
  text-align: center;
  margin: 0;
  overflow-x: hidden;
}


/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */


.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


